{{ define "cover" }}{{ if eq .SKU "dm0004" }}--embed[alt=The+Ledger+of+Whispers,type=image/jpeg,localfilename=covers/dm0004.jpg]--{{ end }}{{ if eq .SKU "dm0005" }}--embed[alt=Ghosts+in+the+Mempool,type=image/jpeg,localfilename=covers/dm0005.jpg]--{{ end }}{{ if eq .SKU "dm0006" }}--embed[alt=Zero-Knowledge,type=image/jpeg,localfilename=covers/dm0006.jpg]--{{ end }}{{ end }}
